TAGO_ENABLED=false
TAGO_SERVICE_KEY=
WATSONX_ENABLED=false
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_URL=
IBM_STT_ENABLED=false
IBM_STT_API_KEY=
IBM_STT_URL=
IBM_TTS_ENABLED=false
IBM_TTS_API_KEY=
IBM_TTS_URL=
